<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="/src/components/estoque/index.css" />

    <title>Gerencia</title>
</head>

<body>
    <div class="divPrinc">
        <h1 class="goalStore">Goal Store</h1>
        <img class="adminIcon" src="/public/assets/imagens/admin.png" />
        <h1 class="admin">Admin</h1>
    </div>

    <div class="divSec">

        <div>
            <h1>Estoque</h1>

            <input class="pesquisa" placeholder="Pesquisar..."/>
            <img src="/public/assets/imagens/lupa.png" class="imgLupa"/>
        </div>
        


        <div class="tabela">

            <table border="table">
                <tr>
                    <td>Nome</td>
                    <td>Status</td>
                    <td>Quantidade</td>
                    <td>Saidas</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="disponivel">Disponivel</button></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="disponivel">Disponivel</button></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="esgotado">Esgotado</button></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="disponivel">Disponivel</button></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="esgotado">Esgotado</button></td>
                    <td></td>
                    <td></td>
                </tr>   
            </table>

        </div>
    </div>

    <div class="rodape">
        <h1>GoalStore.com.br</h1>
    </div>
</body>

</html>