@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700;900&family=Numans&family=Odor+Mean+Chey&family=Poppins:ital,wght@1,700&display=swap');

.gerencia {
    background: #1C1C1C;
    flex-direction: column;
    display: flex;
    width: 100%;

    .divPrinc {
        background-color: #000000;
        position: relative;
        flex-direction: row;
        height: 100px;
        margin: -8px;
        width: 1928px;


        .adminIcon {

            position: absolute;
            width: 45px;
            height: 45px;
            left: 1705px;
            top: 30px;

        }

        .goalStore {

            position: relative;
            width: 458px;
            left: 58px;
            bottom: 30px;

            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 55px;
            line-height: 104px;
            text-align: center;

            color: #FFFFFF;
            -webkit-text-stroke: 3px rgb(0, 0, 0);

        }

        .admin {
            position: relative;
            text-align: end;
            color: #FFFFFF;
            bottom: 140px;
            right: 60px;

            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;

        }

        .estoque {
            position: relative;
            background-color: #000000;
            color: #FFFFFF;
            bottom: 250px;
            width: 150px;
            left: 1550px;

            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;

        }

        .gerencia {
            position: relative;
            background-color: #000000;
            color: #FFFFFF;
            bottom: 195px;
            width: 150px;
            left: 1380px;

            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;

        }

    }

    .divSec {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: -6px;
        background-color: #c0c0c0ea;
        width: 1925px;

        .formCRUD {
            width: 1200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        h1 {
            position: absolute;
            left: 60px;
            top: 100px;

            font-family: 'Numans';
            font-size: 35px;
        }

        .botoes {
            flex-direction: column;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 786px;
            width: 700px;
            padding-left: 20px;
            margin-top: 15px;
            background-color: #c0c0c0ea;

            label {
                font-family: 'Numans';
                font-size: 20px;
                font-weight: 600;

            }

            .divId {
                position: relative;
                top: 50px;
                flex-direction: row;
                display: flex;
                justify-content: center;
                gap: 40px;

                .idBtn {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    top: -8px;
                    left: 36px;
                    width: 300px;
                    height: 100%;

                    font-family: 'Numans';
                    font-size: 30px;
                    font-weight: 700;
                    border: none;
                }
            }

            .divNome {
                position: relative;
                top: 40px;
                flex-direction: row;
                display: flex;
                justify-content: center;
                gap: 40px;

                .nomeBtn {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    top: -8px;
                    left: 16px;
                    width: 300px;
                    height: 100%;

                    font-family: 'Numans';
                    font-size: 30px;
                    font-weight: 700;
                    border: none;
                }
            }

            .divDescricao {
                position: relative;
                top: 40px;
                flex-direction: row;
                display: flex;
                justify-content: center;
                gap: 40px;


                .descricaoBtn {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    top: -5px;
                    width: 300px;
                    height: 100%;
                    left: -4px;

                    font-family: 'Numans';
                    font-size: 30px;
                    font-weight: 700;
                    border: none;

                }
            }

            .divImagem {
                position: relative;
                top: 40px;
                flex-direction: row;
                display: flex;
                justify-content: center;
                gap: 40px;


                .imagemBtn {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    top: -5px;
                    width: 300px;
                    height: 100%;
                    left: 7px;

                    font-family: 'Numans';
                    font-size: 30px;
                    font-weight: 700;
                    border: none;
                    border: none;
                }
            }

            .divPreco {
                position: relative;
                flex-direction: row;
                display: flex;
                justify-content: center;
                top: 40px;
                gap: 40px;


                .precoBtn {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    top: -5px;
                    width: 300px;
                    left: 20px;
                    height: 100%;

                    font-family: 'Numans';
                    font-size: 30px;
                    font-weight: 700;
                    border: none;
                }
            }

            .divCategoria {
                position: relative;
                top: 40px;
                flex-direction: row;
                display: flex;
                justify-content: center;
                gap: 40px;


                .categoriaBtn {
                    position: relative;
                    width: 300px;
                    height: 100%;
                    top: -5px;

                    font-family: 'Numans';
                    font-size: 30px;
                    font-weight: 700;
                    border: none;
                }
            }

            .botoesSalvar {
                flex-direction: row;
                display: flex;
                justify-content: flex-start;
                gap: 30px;


                .salvar {

                    background: #37C23D;
                    border-radius: 40px;

                    position: relative;
                    width: 130px;
                    height: 37px;

                    font-family: 'Odor Mean Chey';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;

                    color: #FFFFFF;

                }

                .cancelar {
                    background: #D81A1A;
                    border-radius: 40px;

                    position: relative;
                    width: 130px;
                    height: 37px;

                    font-family: 'Odor Mean Chey';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;

                    color: #FFFFFF;
                }

                .alterar {
                    background: #1a1dd8;
                    border-radius: 40px;

                    position: relative;
                    width: 130px;
                    height: 37px;

                    font-family: 'Odor Mean Chey';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;

                    color: #FFFFFF;
                }
            }

        }
    }

    .rodape {
        width: 1927px;
        height: 88px;
        margin-left: -7px;
        background-color: #000000;
        color: white;

        h1 {
            width: 100px;
            position: relative;
            left: 100px;
        }
    }
}

@media only screen and (max-width: 720px) {

    .gerencia {
        background: #1C1C1C;
        flex-direction: column;
        display: flex;

        .divPrinc {
            background-color: #000000;
            position: relative;
            flex-direction: row;
            height: 79px;
            margin: -4px;
            width: 722px;

            .adminIcon {
                position: absolute;
                width: 45px;
                height: 45px;
                left: 550px;
                top: 15px;
            }

            .goalStore {
                position: relative;
                width: 300px;
                left: -3px;
                top: -10px;
                font-size: 30px;
                line-height: 56px;
                text-align: center;
                color: #FFFFFF;
                -webkit-text-stroke: 2px rgb(0, 0, 0);
            }

            .admin {
                position: relative;
                color: #FFFFFF;
                bottom: 70px;
                right: 35px;
                font-weight: 700;
                font-size: 24px;
            }

        }

        .divSec {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: -3px;
            background-color: #c0c0c0ea;
            width: 720px;

            h1 {
                position: absolute;
                left: 20px;
                top: 90px;
                font-size: 20px;
            }

            .botoes {
                flex-direction: column;
                display: flex;
                justify-content: space-evenly;
                height: 670px;
                width: 720px;
                margin-top: 10px;
                margin-left: 0;

                label {
                    font-size: 16px;
                    font-weight: 600;
                }

                .divNome {
                    position: relative;
                    top: 20px;
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    gap: 30px;

                    .nomeBtn {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        top: -6px;
                        width: 450px;
                        height: 150%;
                        border-radius: 2%;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .divDescricao {
                    position: relative;
                    top: 20px;
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    gap: 20px;

                    .descricaoBtn {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        top: -4px;
                        width: 450px;
                        height: 150%;
                        border-radius: 2%;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .divImagem {
                    position: relative;
                    top: 20px;
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    gap: 25px;

                    .imagemBtn {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        top: -4px;
                        width: 450px;
                        height: 150%;
                        border-radius: 2%;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .divPreco {
                    position: relative;
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    top: 20px;
                    gap: 30px;

                    .precoBtn {
                        position: relative;
                        left: 5px;
                        display: flex;
                        justify-content: center;
                        top: -4px;
                        width: 450px;
                        height: 150%;
                        border-radius: 2%;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .divCategoria {
                    position: relative;
                    top: 20px;
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    gap: 20px;

                    .categoriaBtn {
                        position: relative;
                        width: 450px;
                        height: 150%;
                        top: -4px;
                        border-radius: 2%;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .botoesSalvar {
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    gap: 15px;

                    .salvar {
                        background: #37C23D;
                        border-radius: 30px;
                        position: relative;
                        width: 140px;
                        height: 27px;
                        left: 60px;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .cancelar {
                        background: #D81A1A;
                        border-radius: 30px;
                        position: relative;
                        width: 120px;
                        height: 27px;
                        left: 60px;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }

        .rodape {
            width: 720px;
            height: 73px;
            margin-left: 0;

            h1 {
                width: 70px;
                position: relative;
                left: 60px;
            }
        }
    }

}

@media only screen and (max-width: 420px) {

    .gerencia {
        background: #1C1C1C;
        flex-direction: column;
        display: flex;

        .divPrinc {
            background-color: #000000;
            position: relative;
            flex-direction: row;
            height: 80px;
            margin: -3px;
            width: 431px;

            .adminIcon {
                position: absolute;
                width: 40px;
                height: 40px;
                left: 280px;
                top: 25px;
            }

            .goalStore {
                position: relative;
                width: 140px;
                left: 15px;
                top: 10px;
                font-size: 25px;
                line-height: 38px;
                text-align: center;
                color: #FFFFFF;
                -webkit-text-stroke: 1px rgb(0, 0, 0);
            }

            .admin {
                position: relative;
                text-align: end;
                color: #FFFFFF;
                bottom: 35px;
                right: 25px;
                font-weight: 700;
                font-size: 24px;
            }
        }

        .divSec {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: -2px;
            background-color: #c0c0c0ea;
            width: 430px;

            h1 {
                position: absolute;
                left: 15px;
                top: 80px;
                font-size: 23px;
            }

            .botoes {
                flex-direction: column;
                display: flex;
                justify-content: space-evenly;
                height: 680px;
                width: 430px;
                margin-top: 5px;
                margin-left: 0;

                label {
                    font-size: 15px;
                    font-weight: 600;
                }

                .divNome {
                    position: relative;
                    top: 15px;
                    gap: 20px;

                    .nomeBtn {
                        position: relative;
                        width: 300px;
                        height: 150%;
                        top: -3px;
                        border-radius: 2%;
                        left: 16px;
                    }
                }

                .divDescricao {
                    position: relative;
                    top: 15px;
                    gap: 15px;

                    .descricaoBtn {
                        position: relative;
                        width: 300px;
                        height: 150%;
                        top: -3px;
                        border-radius: 2%;
                        left: 3px;
                    }
                }

                .divImagem {
                    position: relative;
                    top: 15px;
                    gap: 18px;

                    .imagemBtn {
                        position: relative;
                        width: 300px;
                        height: 150%;
                        top: -3px;
                        border-radius: 2%;
                        left: 10px;
                    }
                }

                .divPreco {
                    position: relative;
                    top: 15px;
                    gap: 20px;

                    .precoBtn {
                        position: relative;
                        width: 300px;
                        height: 150%;
                        top: -3px;
                        border-radius: 2%;
                        left: 16px;
                    }
                }

                .divCategoria {
                    position: relative;
                    top: 15px;
                    gap: 15px;

                    .categoriaBtn {
                        position: relative;
                        width: 300px;
                        height: 150%;
                        top: -3px;
                        border-radius: 2%;
                        left: 3px;
                    }
                }

                .botoesSalvar {
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    .salvar {
                        background: #37C23D;
                        border-radius: 25px;
                        position: relative;
                        width: 100px;
                        height: 35px;
                        left: 40px;
                        font-size: 12px;
                    }

                    .cancelar {
                        background: #D81A1A;
                        border-radius: 25px;
                        position: relative;
                        width: 85px;
                        height: 35px;
                        left: 40px;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
        }

        .rodape {
            width: 428px;
            height: 64px;
            margin-left: 0;

            h1 {
                width: 60px;
                position: relative;
                font-size: 24px;
                left: 30px;
            }
        }
    }
}