<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/components/admin/index.css" />

    <title>Admin</title>
</head>

<body>
    <div class="divPrinc">
        <h1 class="goalStore">Goal Store</h1>
        <img class="adminIcon" src="/public/assets/imagens/admin.png" />
        <h1 class="admin">Admin</h1>
    </div>

    <div class="divSec">
        <p>Dashboard</p>
        <p>Calendar</p>
        <p>People</p>
        <p>Dashboard</p>
    </div>

    <div class="botoes">
        <button class="adicionar"> <img src="/public/assets/imagens/neymar.png" class="imgNeymar"><p>Adicionar</p></button>
        <button class="remover"> <img src="/public/assets/imagens/neymar.png" class="imgNeymar"> <p>Remover</p></button>
        <button class="alterar"> <img src="/public/assets/imagens/neymar.png" class="imgNeymar"> <p>Alterar</p></button>
    </div>

    <div class="rodape"> 
        <h1>GoalStore.com.br</h1> 
    </div>
</body>

</html>