<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/components/login/index.css" />

    <title>Login</title>
</head>

<body>
    <div class="divPrinc">

            <h1 class="goalStore">Goal Store</h1>   
            <img class="adminIcon" src="/public/assets/imagens/admin.png"/>  
            <img class="coracaoIcon" src="/public/assets/imagens/coracao.png"/>  
            <img class="carrinhoIcon" src="/public/assets/imagens/carrinho.png"/>  
            
        <div class="divGeral">

           
            <div class="login"> 
                <img class="imgNeymar" src="/public/assets/imagens/neymar.png"/>
                <form>

                    <h2>Login</h2>
                    <p>Enter your account details</p>
                    <input class="campo" type="email" placeholder="Username or Email">
                    <input class="campo" type="password" placeholder="Password">
                    <a href="#">Forgot Password?</a>
                    <input class="btn" type="submit" value="Acessar" />
                    <p>Don't have an account? <button class="Register"><a href="#">Register now</a>.</button></p>

                </form>

            </div>

        </div>
    </div>
</body>

</html>