<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/components/gerencia/index.css" />

    <title>Gerencia</title>
</head>

<body>
    <div class="divPrinc">
        <h1 class="goalStore">Goal Store</h1>
        <img class="adminIcon" src="/public/assets/imagens/admin.png" />
        <h1 class="admin">Admin</h1>
    </div>

    <div class="divSec">
        <h1>Gerenciar Produtos</h1>

        <div class="botoes">

            <div class="divNome">
                <label>Nome</label>
                <button class="nomeBtn"></button>
            </div>

            <div class="divDescricao">
                <label>Descrição</label>
                <button class="descricaoBtn"> </button>
            </div>

            <div class="divImagem">
                <label>Imagem</label>
                <button class="imagemBtn"></button>
            </div>

            <div class="divPreco">
                <label>Preço</label>
                <button class="precoBtn"> </button>
            </div>

            <div class="divCategoria">
                <label>Categoria</label>
                <button class="categoriaBtn"></button>
            </div>

            <div class="botoesSalvar">
                <button class="salvar">Salvar Alterações</button>
                <button class="cancelar">Cancelar</button>
            </div>

        </div>
    </div>

    <div class="rodape">
        <h1>GoalStore.com.br</h1>
    </div>
</body>

</html>