<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/components/landingPage/index.css" />

    <title>Lading Page</title>
</head>

<body>
    <div class="telaEsquerda">
        <div>
            <h1 class="goalStore">Goal Store</h1>
        </div>

        <div>
            <img class="imagem1" alt="" src="/public/assets/imagens/imagem1.svg"/>
        </div>
    </div>

    <div class="telaDireita">
        <div class="parteSuperior">
            <h2>O melhor valor do Mercado</h2>
            <p>"Preserving Sporting Heritage: Your Gateway to the Past "Preserving Sporting Heritage: Unlocking the Past through Vintage Jerseys in Your Store Vintage Jerseys"</p>
        </div>

        <div class="parteInferior">
            <img class="imagem2" alt="" src="/public/assets/imagens/imagem2.svg"/>
            <p>Your vintage jersey store is more than just a shop; it's a living sports museum. It preserves the emotions, history, and competitive spirit that make sports a universal passion. By sharing these vintage jerseys, you keep the memories of a priceless sports past alive, allowing everyone to touch, feel, and relive the magic of ssports through these historical relics</p>
       
            <button>
                <a href="/src/components/login/index.html"> SEE MORE </a>
            </button>

        </div>

    </div>
</body>

</html>