.telaEsquerda {
    background-color: #cc1f1f;
    position: absolute;
    height: 100%;
    width: 45%;
    z-index: 1;

        .goalStore {
            margin: 5%;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 145px;
            letter-spacing: 10px;

            color: #1C1D21;

        }

    .imagem1 {
        position: absolute;
        top: 30%;
        left: -1%;
        height: 70%;
    }

}

.telaDireita {
    background-color: #c0c0c0ea;
    position: absolute;
    height: 100%;
    width: 54.8%;
    right: 0%;
    z-index: 0;


    .imagem2 {
        position: relative;
        width: 45%;
        left: 28%;


    }

    h2 {
        margin: 3%;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 600;
        font-size: 70px;
        letter-spacing: 10px;
        position: relative;
        width: 85%;
        left: 5%;
        color: #1C1D21;
    }

    p {
        margin: 2%;
        padding: 0%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 5px;

        color: #1C1D21;
    }

    button {

        height: 4%;
        width: 350px;
        left: 40%;
        top: 91%;
        background: rgba(255, 0, 0, 0.81);
        border-radius: 100px;

        filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.25));

        position: absolute;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 220%;
        color: #FFFFFF;

        border: 1px solid #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        a {
            color: white;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 720px) {
    .telaEsquerda {
        width: 40%;

        
            .goalStore {
                margin: 2%;
                font-size: 100px;
            }
        

        .imagem1 {
            top: 377px;
            max-height: 450px;
            width: 113%;
        }
    }

    .telaDireita {
        width: 60%;

        .imagem2 {
            margin: 15px;
        }

        h2 {
            width: 398px;
            font-size: 41px;
        }

        p {
            margin-top: 10px;
            font-size: 20px;
        }

        button {
            bottom: -15px;
            left: 150px;
            position: relative;
            height: 4%;
            width: 40%;

            a {
                font-size: 23px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }


    }
}

@media only screen and (max-width: 420px) {
    .telaEsquerda {
        width: 50%;
        height: 128%;
        margin: -1%;

            .goalStore {
                margin: 1%;
                font-size: 65px; 
              
            }
        .imagem1 {
            display: none;
        }
    }

    .telaDireita {
        margin: -1%;
        left: 220px;
        height: 128%;
        width: 320px;

        .imagem2 {
            display: none;
        }

        h2 {
            width: 298px;
        }

        p {
            margin-top: 50px;
        }

        button {
            bottom: -55px;
            left: 100px;
            
        }
    }
}